.contact {
    font-size: 2rem;
    margin-top: 2rem;
  }
  .contact-subtitle{
    text-align: center;
  }
  .contact-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
  }
  .contact-mail,
  .socials {
    margin-right: auto;
  }
  .social-link {
    color: #ababab;
  }
  .social-links {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    font-size: 3rem;
  }
  @media only screen and (max-width: 768px) {
    .contact-wrapper{
      flex-direction: column;
      gap: 2rem;
    }
  }
  @media only screen and (max-width: 550px) {
    .contact-mail{
      word-break: break-word;
    }
  }