.navigation {
  width: 45%;
}
.navigation-list {
  display: flex;
  justify-content: space-around;
}
.navigation-item {
  position: relative;
  padding: 1rem;
  font-size: 1.8rem;
}
.navigation-link {
  color: #fff;
  text-decoration: none;
}
.navigation-item::after {
  content: "";
  width: 0;
  height: 3px;
  background: #c9c9c9;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.navigation-item:hover::after {
  width: 100%;
}
.navigation i {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navigation {
    width: auto;
  }
  .navigation-link,
  .logo {
    font-size: 1.4rem;
  }
  .navigation-item {
    padding: 0.6rem;
  }
}
@media only screen and (max-width: 600px) {
  .navigation-list {
    position: fixed;
    z-index: 101;
    top: 0;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    right: -10rem;
    width: 10rem;
    height: 100vh;
    padding-top: 3rem;
    background-color: #e74f4f;
  }
  .navigation-item {
    display: block;
    width: fit-content;
    margin-left: 2rem;
    padding: 0 0.3rem;
  }
  .navigation-item:hover::after {
    width: 0;
  }
  .navigation-link,
  .logo {
    font-size: 1.2rem;
  }
  .navigation i {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .navigation-list i {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
}
