.experience {
    margin-top: 3rem;
    border-bottom: 1px solid #fff;
  }
  .experince-tab-titles {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1.5rem 0 2.5rem;
  }
  .experience-tab-link {
    font-size: 2rem;
    cursor: pointer;
    position: relative;
  }
  .experience-tab-link::after {
    content: "";
    width: 0;
    height: 0.3rem;
    background-color: #e74f4f;
    position: absolute;
    left: 0;
    bottom: -0.8rem;
    transition: 0.5s;
  }
  .experience-tab-link.tab-link--active::after {
    width: 50%;
  }
  .experience-tab-link:hover::after {
    width: 100%;
  }
  .experience-tab-content {
    margin: 4rem 0;
    font-size: 1.8rem;
    display: none;
  }
  .experience-tab-content--active {
    display: block;
  }
  .experience-education {
    display: flex;
  }
  .experience-skills {
    display: flex;
    gap: 2rem;
  }

  @media only screen and (max-width: 768px) {
    .experince-tab-titles{
      justify-content: left;
      gap: 1rem;
    }
    .experience-skills{
      flex-direction: column;
    }
    .experience-education{
      flex-direction: column;
      gap: 2rem;
    }
  }
  @media only screen and (max-width: 600px) {
    .experince-tab-titles{
      flex-direction: column;
      gap: 2rem;
    }
    .experience-tab-link{
      width: 50%;
    }
  }