.tab-content-education,
.tab-content-skills {
  margin-right: auto;
}
.tab-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.tab-content-text {
  text-align: justify;
}
.tab-content-title {
  font-weight: 400;
  color: #e74f4f;
}
.tab-content-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: disc;
}

@media only screen and (max-width: 768px) {
  .tab-content-text {
    text-align: left;
  }
}
